:root {
  --pinkred: #F8395A;
  --blue: #24355A;
  --lightgrey: #F7F8F8;
  --grey: #bdb9b9;
  --darkgrey: #969393;
}

.home_categories {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--lightgrey);
}

@media (max-width: 480px) {
  .home_categories {
    padding: 50px 20px;
  }
}

.home_categories h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}

.home_categories p {
  max-width: 700px;
  font-size: 20px;
}

.home_categories_list {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: center;
  gap: 20px;
}

.home_categories_list a {
  text-decoration: none;
}

.home_category {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  cursor: pointer;
  overflow: hidden;
}

.home_category img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_category .home_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  transition: 0.3s ease-in-out;
}

.home_category_text {
  position: relative;
  color: white;
  text-align: center;
}

.home_category_text_icon {
  font-size: 45px;
}

.home_category_text p {
  font-weight: 600;
}

.home_category:hover .home_overlay {
  width: 80%;
  height: 80%;
}